*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Set general border sizing */
}

.clearfix:before,
.cf:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  background: #397ad4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #397ad4, #239fe7);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #397ad4, #239fe7);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #397ad4, #239fe7);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #397ad4, #239fe7);
  /* Standard syntax (must be last) */
  min-width: 1200px;
}


/* General classes */

.main-menu {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: -moz-linear-gradient(left, #397ad4, #239fe7);
  ;
}

.main-menu ul {
    list-style-type: none;
    margin-left: 145px;
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 17px;

}

.main-menu ul li:first-child {
  margin-left: 0px;
}

.main-menu ul li {
  float: left;
  margin: 0 50px;
}

.main-menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}

.main-menu ul li a:hover,
.main-menu ul li a.active,
.main-menu ul li a:focus {
  background-color: white;
  color: #397ad4;
}

#main-menu .login-btn {
    padding: 0;
    margin: 0;
    float: right;
    margin-top: -60px;
}

#main-menu .login-btn a {
  border-radius: 30px;
  border: 2px solid white;
  padding: 10px 50px;
}


/***********************************
*********app logo******************
************************************/

.app-logo {
  position: relative;
  top: 180px;
  background: url(Images/handMob.png) 100% 280% no-repeat;
  background-size: 732px 969px;
  height: 965px;
  width: 100%;
}

.conteiner {
  margin: 0 140px;
}

.conteiner h1 {
  font-size: 5rem;
  color: white;
}

.text-box {
  padding-top: 70px;
}

.conteiner p {
  color: white;
  font-size: 1.5rem;
}

.p-top-15 {
  padding-top: 15px;
}

.get-the-app {
  display: none;
}

.app-logo .switch-btn {
  list-style-type: none;
  float: left;
  padding: 0;
  overflow: hidden;
}

.app-logo .switch-btn li:first-child {
  margin-left: 0px;
}

.app-logo .switch-btn li {
  float: left;
  padding-top: 35px;
  margin: 0 15px;
}

.app-logo .switch-btn li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid white;
  padding: 10px 50px;
}

.app-logo .switch-btn li a.active,
.app-logo .switch-btn li a:hover,
.app-logo .switch-btn li a:focus {
  background-color: white;
  color: #397ad4;
}

.box {
  background-color: white;
  margin-top: -39px;
  padding: 80px 20px;

  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

.box > .wrapper {
  margin: 0px 140px;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.switch-btn2 {
  display: block;
  list-style-type: none;
  float: left;
  padding: 0;
  overflow: hidden;
}

.switch-btn2 li:first-child {
  margin-left: 0px;
}

.switch-btn2 li {
  float: left;
  padding-top: 35px;
  margin: 0 15px;
}

.switch-btn2 li a {
  display: block;
  color: #8f8f8f;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 50px;
}

.switch-btn2 li a.active,
.switch-btn2 li a:hover,
.switch-btn2 li a:focus {
  background-color: white;
  border: 2px solid #397ad4;
  color: #397ad4;
}

.products-devices {
  height: 580px;
  max-height: 580px;
}

.logo-brands {
  height: 150px;
  position: relative;
  top: 80px;
  object-fit: contain;
}

.logo-brands div {
  height: 100%;
  width: 100%;
}

.logo-brands div ul {
  position: absolute;
  height: 60%;
  width: 100%;
  object-fit: contain;
  float: left;
  background-repeat: repeat-y;
  list-style-type: none;
  margin-top: 50px;
  opacity: 0.5;
  align-items: center;
}

.logo-brands div ul li {
  position: relative;
  height: 100%;
  width: 11.1%;
  object-fit: contain;
  float: left;
}

.logo-brands div ul .img1 {
  background-image: url(Images/HTC-logo1.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.logo-brands div ul .img2 {
  background-image: url(Images/2000px-Blackberry_Logo.svg.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.logo-brands div ul .img3 {
  background-image: url(Images/Apple_logo_black.svg.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.logo-brands div ul .img4 {
  background-image: url(Images/800px-Nokia_Logo.svg.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.logo-brands div ul .img5 {
  background-image: url(Images/Sony.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.products-devices .platforms {
  top: 229px;
  left: 0px;
  margin-top: 55px;
  width: 100%;
  display: none;
}

.platforms h1 {
  font-size: 5rem;
  color: #4484d4;
  margin-bottom: 15px;
}

.platforms p {
  color: grey;
}

.products-devices .platforms2 {
  top: 229px;
  left: 0px;
  margin-top: 55px;
  width: 100%;
}

.platforms2 h1 {
  font-size: 5rem;
  color: #4484d4;
}

.platforms2 p {
  color: grey;
}

.ostalo {
  display: block;
  position: absolute;
  top: 1680px;
  height: 650px;
  width: 100%;
  max-height: 650px;
  padding: 0px 155px;
  background: #397ad4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #397ad4, #239fe7);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #397ad4, #239fe7);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #397ad4, #239fe7);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #397ad4, #239fe7);
  /* Standard syntax (must be last) */
}

.the-app {
  height: 100px;
  width: 100%;
}

.switch-btn3 {
  height: 100px;
  width: 100%;
  display: block;
  list-style-type: none;
  padding: 0% 20%;
  float: left;
  width: 100%;
  overflow: hidden;
}

.switch-btn3 li:first-child {
  margin-left: 0px;
}

.switch-btn3 li {
  float: left;
  padding-top: 35px;
  margin: 0 15px;
}

.switch-btn3 li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 50px;
}

.switch-btn3 li a.active,
.switch-btn3 li a:hover,
.switch-btn3 li a:focus {
  border: 2px solid #fff;
}

.the-app-info,
.he-idea {
  top: 229px;
  left: 0px;
  margin-top: 55px;
  width: 85%;
  ;
  color: white;
  display: none;
}

.the-process {
  top: 229px;
  left: 0px;
  margin-top: 55px;
  width: 85%;
  ;
  color: white;
}

.ostalo div h1 {
  font-size: 5rem;
}

.switch-btn4 {
  list-style-type: none;
  bottom: 0px;
  position: relative;
  float: left;
  padding: 0;
  overflow: hidden;
}

.switch-btn4 li:first-child {
  margin-left: 0px;
}

.switch-btn4 li {
  float: left;
  padding-top: 35px;
  margin: 0 15px;
}

.switch-btn4 li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid white;
  padding: 10px 50px;
}

.switch-btn4 li a:active,
.switch-btn4 li a:hover,
.switch-btn4 li a:focus {
  background-color: white;
  color: #397ad4;
}

.space-holder {
  height: 990px;
}

.subscribe {
  position: absolute;
  height: 280px;
  width: 100%;
  background-color: transparent;
  margin-left: -171px;
  top: 651px;
  padding-left: 155px;
}

.subscribe input[type="email"]::-moz-placeholder {
  color: #397ad4;
}

.image-holder {
  position: absolute;
  top: 1938px;
  background-image: url(Images/mob.png);
  background-size: 806px 593px;
  background-repeat: no-repeat;
  width: 479px;
  height: 785px;
  right: 0px;
}

.subscribe .subscribe-n {
  margin-top: 5px;
  width: 70%;
  height: 100%;
  color: rgb(54, 133, 217);
  height: 70%;
}

.inputForm {
  width: 331px;
  height: 40px;
  border-radius: 30px;
  margin-top: 14px;
  border: 3px solid rgb(53, 132, 212);
  padding-left: 18px;
  padding-right: 18px;
  font-size: 20px;
  font-weight: 500;
  color: #b3cae6;
}

.subscribe .input-email {
  font-size: 18px;
  font-weight: 500;
  overflow: auto;
}

.the-app-container {
  height: 635px;
  width: 100%;
}

.the-app-container div h1 {
  font-size: 5rem;
  color: #3f85d4;
}

.switch-btn5 {
  list-style-type: none;
  bottom: 0px;
  position: relative;
  float: left;
  width: 100%;
  padding-left: 25%;
  overflow: hidden;
  margin-bottom: 105px;
}

.switch-btn5 li:first-child {
  margin-left: 0px;
}

.switch-btn5 li {
  float: left;
  padding-top: 35px;
  margin: 0 15px;
}

.switch-btn5 li a {
  display: block;
  color: #8f8f8f;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 50px;
}

.switch-btn5 li a.active,
.switch-btn5 li a:hover,
.switch-btn5 li a:focus {
  border: 2px solid rgb(53, 132, 212);
  color: #397ad4;
}

.about-us,
.our-team {
  top: 229px;
  left: 0px;
  margin-top: 55px;
  width: 85%;
  ;
  color: #ccc;
  display: none;
}

.the-news {
  top: 229px;
  left: 0px;
  margin-top: 55px;
  width: 85%;
  ;
  color: #ccc;
}

.map-contact {
  position: absolute;
  float: left;
  bottom: 0px;
  height: 950px;
  width: 100%;
  z-index: -5;
  top: 3200px;
  ;
}

.left-map {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.contact-form {
  position: absolute;
  width: 50%;
  height: 950px;
  top: 3200px;
  left: 50%;
  overflow: hidden;
  padding-top: 220px;
  padding-left: 100px;
  z-index: -4;
}

.contact-form div {
  width: 500px;
  margin-top: 20px;
}

.contact-form .adress {
    width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  color: #fff;
  font-size: 20px;
}

.contact-form div input,
textarea {
  background: #1e7cb3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #1e7cb3, #158abd);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1e7cb3, #158abd);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1e7cb3, #158abd);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1e7cb3, #158abd);
  /* Standard syntax (must be last) */
  padding-left: 25px;
  font-size: 16px;
}

*::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #fff;
  opacity: 1;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #fff;
  opacity: 1;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 1;
}

.contact-item-title {
  font-size: 36px;
  margin-bottom: 15px;
}

contact-item-row {
  font-size: 18px;
  font-weight: 500;
  overflow: auto;
  color: white;
}

.contact-item-input {
  width: 100%;
  height: 34px;
  margin-top: 5px;
  padding: 5px;
  color: white;
}

.contact-item-textarea {
  height: auto;
  resize: none;
  padding-left: 25px;
  font-size: 16px;
  color: white;
  opacity: 1;
}

.contact-item-button {
  float: left;
  width: 201px;
  height: 36px;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #fff;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  background-color: Transparent;
}

.contact-item-button-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.contact-item-button2 {
  float: left;
  width: 201px;
  height: 36px;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #fff;
  color: white;
  background: url(Images/002__arrow_right.png);
  background-position: 150px;
  background-size: 50px;
  background-repeat: no-repeat;
  border-radius: 30px;
  cursor: pointer;
  /* background-color: Transparent;*/
}

.contact-item-button-title2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
